@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background: #3e8989;
  padding: 37px 0;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.toggle__menu {
 width: 30px;
 height: 30px;
background: #295e5e;
  border: 1px solid #295e5e; 
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  display: none;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__nav-list-item a {
  font-family: RR;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  line-height: 18.96px;
}
.header__nav-list-item a:after {
  background-color: #ffffff;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  border-radius: 5px;
}
.header__nav-list-item a:hover:after,
.header__nav-list-item a:focus:after {
    width: 100%;
}
.search__table {
  display: flex;
}
.searchbar {
  width: 216px;
  height: 35px;
  top: 33px;
  left: 985px;
  gap: 0px;
  border-radius: 20px 0px 0px 20px;
  opacity: 0px;
  border-style: none;
  font-family: RR;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  padding: 8px 20px;
}
.button {
  width: 74px;
  height: 35px;
  top: 33px;
  left: 1201px;
  gap: 0px;
  border-radius: 0px 20px 20px 0px;
  opacity: 0px;
  background: #295e5e;
  border-style: none;
  color: #fff;
}
.banner {
  background: url(../img/traveling.png) no-repeat center/cover;
  height: 800px;
  display: flex;
  justify-content: center;
}
.banner__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.banner__title {
  font-family: RR;
  font-size: 80px;
  font-weight: 600;
  color: #ffffff;
}
.banner__title2 {
  font-family: RR;
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
}
.banner__button {
  margin-top: 30px;
  background: #b4436c;
  padding: 14px 77px;
  border-radius: 30px;
  font-family: IR2;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s linear;
}
.banner__button:hover {
  background: #ffffff;
  color: #b4436c;
}
.about {
  margin: 80px 0 97px 0;
}
.about__img {
width: 100%;
}
.about__img img {
  width: 100%;
}
.about__title {
  font-family: IR2;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #3e8989;
  margin-bottom: 50px;
}
.about__wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.about__desc {
  max-width: 545px;
  width: 100%;
  padding-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__desc-text1 {
  font-family: RR;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.about__desc-text2 {
  font-family: RR;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.catalog {
  padding-bottom: 100px;
}
.catalog__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catalog__title {
  font-family: IR2;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #3e8989;
  margin-bottom: 53px;
}
.catalog__tables {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.catalog__table1 {
  max-width: 263px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000000;
}
.catalog__table1:hover a {
  color: #b4436c;
}
.catalog__table2:hover a {
  color: #b4436c;
}
.catalog__table3:hover a {
  color: #b4436c;
}
.catalog__table4:hover a {
  color: #b4436c;
}
.catalog__table2 {
  max-width: 263px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.catalog__table3 {
  max-width: 263px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.catalog__table4 {
  max-width: 263px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.catalog__pic1 {
  background: #efefef;
  width: 263px;
  justify-content: center;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__pic2 {
  background: #efefef;
  width: 263px;
  height: 300px;
  top: 1537px;
  left: 448px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__pic3 {
  background: #efefef;
  width: 263px;
  height: 300px;
  top: 1537px;
  left: 730px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__pic4 {
  background: #efefef;
  width: 263px;
  height: 300px;
  top: 1537px;
  left: 1013px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__table1-item {
  font-family: IR2;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: center;
  padding-top: 30px;
  color: #000000;
}

.catalog__table2-item {
  font-family: IR2;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: center;
  padding-top: 30px;
  color: #000000;
}
.catalog__table3-item {
  font-family: IR2;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: center;
  padding-top: 30px;
  color: #000000;
}
.catalog__table4-item {
  font-family: IR2;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: center;
  padding-top: 30px;
  color: #000000;
}
.contacts {
  padding-bottom: 104px;
}
.contacts__title {
  font-family: IR2;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 50px;
  text-align: left;
  color: #3e8989;
}
.contacts__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts__inf {
  font-family: RR;
  font-size: 20px;
  font-weight: 400;

  color: #000000;
}
.contacts__cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts__tel {
  font-family: RR;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.contacts__tel:hover {
  color: #b4436c;
}
.contacts__mail {
  font-family: RR;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.contacts__mail:hover {
  color: #b4436c;
}
.footer {
  background: #3e8989;
padding: 40px 0 15px;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer__list-item-link {
  font-family: RR;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
.footer__text {
  font-family: RR;
  font-size: 14px;
  font-weight: 400;
text-align: center;
padding-top: 59px;
  color: #FFFFFF;
}